//**************Colors******************//
$primaryColor: #e874bc;
$secondaryColor: #c8a4dc;
$fontColor: #ffffff;
$primaryColorFocus: #F189C5;
$backgroundColor: #ffffff;
$secondaryFontColor: #0000;

//*************borders******************//
$borderRadius: 10px;